<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068399475131-rnsuujas0cr7ff8qlgb9f8gt60shme1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068399475131-rnsuujas0cr7ff8qlgb9f8gt60shme1h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1068399475131-f5v87oi723kfgdd2779gt40h0p45c1d6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3YmMEeuvN97qzqkPU26Z8s68AIaArMcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1068399475131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sofia.safewalk</string>
	<key>PROJECT_ID</key>
	<string>safewalk-sofi</string>
	<key>STORAGE_BUCKET</key>
	<string>safewalk-sofi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068399475131:ios:7a66ab699a0edd5f6c6c9e</string>
</dict>
</plist>
